.app {
  width: 100%;
  margin-top: 140px;
  margin-bottom: 60px;
  min-height: 300px;
  /*text-align: center;*/
  /*min-height: 500px*/
}

.title {
  font-size: 1.6em;
  min-height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0;
  width: 100%;
  text-align: left;
  background-color: #3351c6;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.message-header {
  font-size: 1.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
  overflow: hidden;
}

.message-to-user {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 500;
  position: fixed;
  width: 50%;
  left: 25%;
  height: 60px;
}

.translation-item {
  border: 2px solid rgb(210, 210, 210);
  border-bottom: none;
  border-radius: 0;
}

.translation-item-wrapper:first-child > .translation-item {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.translation-item-wrapper:last-child > .translation-item {
  border-bottom: 2px solid rgb(220, 220, 220);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}